.previous-calculation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
    height: 700px;
    width: 500px;
    background: rgb(233, 233, 233);
    border-radius: 2px;
    box-shadow: 0 0 3px black;
}

.calc-entry {
    display: flex;
    justify-content: space-between;
    border-top: solid rgb(117, 117, 117) 1px;
    padding: 4px;
    font-family: monospace;
    font-size: 14px;
    color: rgb(39, 39, 39);
}
.expression-input {
    display: flex;
    flex-direction: column;
}
.calculator input {
    margin: 0;
    padding: 0;
    height: 44px;
    font-size: 32px;
}